.wrapper {
  height: 100%;
}

.cardsContainer {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
}

@media (min-width: 924px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1360px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1825px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  max-height: 250px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-box-shadow: 0 5px 5px rgba(220, 220, 220, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(220, 220, 220, 0.75);
  box-shadow: 0 5px 5px rgba(220, 220, 220, 0.75);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .card {
    width: auto;
  }
}

.cardTitle {
  color: #333;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  max-width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.cardCompanyName {
  color: #333;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  opacity: 0.8;
  padding-bottom: 20px;
}

.cardJobDescriptionContainer {
  overflow: auto;
  height: 200px;
  text-overflow: ellipsis;
  opacity: 0.8;
}

.cardJobDescription {
  color: #333;
  font-family: Open Sans;
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.customCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 150px;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customCheckboxContainerSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 150px;
  cursor: pointer;
  color: #fff;
  background-color: #3174ee;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.companyNameSearch {
  width: 240px;
  height: 44px;
  text-indent: 10px;
  padding: 0;
  border-radius: 4px 0 0 4px;
  border: 1px solid #d8dee2;
}

.companyNameSearch:focus {
  outline: none;
}
